<div class="container-fluid">
    <section class="jumbotron text-center border-bottom-dark rounded-0" style="background-color: #2da852d3;" >
        <div class="container-fluid">
            <div class="row justify-content-around text-center">
                <div class="col-md-8 col-sm-12">
                    <h1 class="jumbotron-heading font-weinght-bold">Error 404</h1>
                    <h3>No hemos podido encontrar la página que buscabas...</h3>
                    <br><br>
                    <a class="btn btn-light" href="inicio">Volver al inicio</a>
                </div>
            </div>
        </div>

    </section> 

    <div style="text-align: center" >
        <img class="card-img-top rounded-circle" style="width:40rem; heigth:40rem;" src="{{notFoundImage}}"></img>
    </div>
</div>
