<div class="container mt-5">
    <div class="row no-gutters">
        <div class="col-md-12">
                <div class="card">
                    <h3 class="card-header text-center">Datos de la cuenta</h3>
                    <div class="card-body">
                        <!-- Cuerpo de la tarjeta -->
                        <form name="cambiarusername" action="/cambiarusername" method="POST">
                        <h4 class="card-title">Cambiar nombre:</h4>
                        <div class="row justify-content-start ml-5">
                            <div class="col-md-8">
                                
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="newusername"
                                        id="newusername"
                                        placeholder={{username}}
                                        required="required"/>
                                    
                              

                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" type="submit">Guardar</button>

                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Cambiar contraseña:</h4>
                        <form name="cambiarpassword" action="/cambiarpassword" method="POST">
                            <div class="row justify-content-strech ml-5">
                                <div class="col-md-8">
                                    
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="oldpassword"
                                            id="oldpassword"
                                            placeholder="Contraseña anterior"
                                            required="required"/>
                                            <br>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="newpassword"
                                            id="newpassword"
                                            placeholder="Nueva contraseña"
                                            required="required"/>
                                    </form>

                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary mt-4" type="submit">Guardar</button>

                                </div>
                            </div>
                            </form>
                    </div>
                    <br><br>
                    <div class="card-body">
                        <div class="row d-flex justify-content-center text-center">

                                <h4 class="card-title">Borrar cuenta:</h4>
                                <form action="/">
                                    <button class="btn btn-danger ml-4" type="submit">Borrar cuenta</button>
                                </form>
                            
                        </div>
                        

                    </div>
                    <br><br>
                    <!-- Fin del cuerpo -->
                </div>
            

        </div>
    </div>
</div>