
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Capstone HP 2022</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="row vh-100 justify-content-around align-items-center">
            <div id="template-bg-1">
                <div
                    class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
                    <div class="card p-4 text-light bg-dark mb-5">
                        <div class="card-header">
                            <h3>Iniciar sesión
                            </h3>
                        </div>
                        <div class="card-body w-100">
                            <form name="login" action="" method="post">
                                <div class="input-group form-group mt-3">

                                    <input type="text" class="form-control" placeholder="Usuario" name="username"></div>
                                    <div class="input-group form-group mt-3">

                                        <input
                                            type="password"
                                            class="form-control"
                                            placeholder="Contraseña"
                                            name="password"></div>

                                        <div class="form-group mt-3">
                                            <input
                                                type="submit"
                                                value="Acceder"
                                                class="btn bg-secondary float-end text-white w-100"
                                                name="login-btn"></div>
                                        </form>
                                        <a href="/registro">
                                            <div class="form-group mt-3">
                                                <input
                                                    type="submit"
                                                    value="Registrarse"
                                                    class="btn bg-secondary float-end text-white w-100"
                                                    name="login-btn"></div>
                                            </a>

                                            <div class="text-danger"></div>

                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-center">
                                                <div class="text-primary">Solo los usuarios registrados pueden acceder.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>

</html>