
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Capstone HP 2022</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row vh-100 justify-content-around align-items-center">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Iniciar sesión</h2>

                            <form name="login" action="/login" method="POST">

                                <div class="form-outline mb-4">
                                    <input
                                        type="text"
                                        name="inputUsername"
                                        class="form-control form-control-lg"
                                        id="inputUsername"
                                        placeholder="Nombre de usuario"
                                        required autofocus/>
                                </div>
                                <div class="form-outline mb-4">
                                    <input
                                        type="password"
                                        name="inputPassword"
                                        class="form-control form-control-lg"
                                        id="inputPassword"
                                        placeholder="Contraseña"
                                        required />
                                </div>

                                {{#if inicioSesionIncorrecto}}
                                    <p aria-atomic="true" style="color: #ff0000;" >Usuario o contraseña incorrectos!</p>
                                {{/if}}

                                <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Iniciar sesión</button>
                                </div>
                                </form>                
                                
                                
                                <p class="text-center text-muted mt-5 mb-0">¿No tienes cuenta?
                                    <a href="registro" class="fw-bold text-body">
                                        <u>Registrate</u>
                                    </a>
                                </p>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>