<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="row no-gutters">
                <div class="col-md-1 ml-2">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" width="55" height="55"/>
                </div>
                <div class="col-md-6 ml-2">
                  <h1>username</h1>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="row no-gutters">
              <div class="col-md-5 ml-2">
                <a href="mispokemons"><h1>Pokemons encontrados: 3</h1></a>
              </div>
              
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="row no-gutters">
              <h1>Aqui hay algo</h1>
            </div>
        </div>
    </div>
</div>
