<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Capstone HP 2022</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>

</head>

<body class="layout ">

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #161616;">
        
            <a class="navbar-brand" style="color:white;">Capstone HP 2022</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        
            <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item active">
                    <a class="nav-link" href="/inicio">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/mispokemons">Mis pokemons</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/maspokemons">Añadir pokemons</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <i class="nav-link">Bienvenido {{username}}!</i>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/cuenta">Cuenta</a>
                </li>
                <li class="nav-item active">
                    
                    <a class="nav-link" href="logout">Cerrar sesion</a>
                </li>
            </ul>
            
  </div>
    </nav>
    <main>
        
        {{{ body }}}
   
    </main>

    <footer class="fixed-bottom">
      
          
            <div class="col-md-2">
                <small class="d-block mb-3 text-muted">&copy; Capstone 2022</small>
            

          
      
    </footer>

</body>

</html>