<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Spotify</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class="layout ">

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #161616;">
        
            <a class="navbar-brand" href="/inicio">Capstone HP 2022</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item active">
                    <a class="nav-link" href="/inicio">ArtistasAleatorios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>


                <form class="form-inline my-2 my-md-0" action="/artista" method="GET">
                    <div class="input-group "></div>
                        <button class="input-group-text" id="basic-addon1" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" > 
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        </button>
                    
                    <input class="form-control" type="text" placeholder="Search" name="search" required autofocus>
                    </div>
                </form>
            
            </div>    
    </nav>
    <main>
        
        {{{ body }}}
   
    </main>

    <footer class="py-4">
      <div class="container-fluid">
          <div class="d-flex row justify-content-around text-center">
            <div class="col-md-2">
                <small class="d-block mb-3 text-muted">&copy; Capstone 2022</small>
            </div>


            <div class="col-md-4">
                <h6>albertorodrigospotify@gmail.com</h6>
                 <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacto" >Contacto con el creador</a></li>
                </ul>
            </div>

            <div class="col-md-2">
            </div>
          </div>
      </div>
    </footer>

</body>

</html>