<!-- Div principal que centra todo -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="row vh-100 justify-content-around align-items-center">
<!-- Div con el contenido -->
<div id="template-bg-1">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
         
        </form>
</div>


    </div>
  </div>
</div>