<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-12">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png" class="card-img" ></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title">Charizard</h1>
                                <p class="card-text">Escupe un fuego tan caliente que funde las rocas. Causa incendios forestales sin querer.</p>
                                <h5>Tipo</h5>
                                <p>
                                    <span class="background-color-fire">
              
                                    Fuego
                                    </span>
                                    <br>
                                    <span class="background-color-flying">
              
                                    Volador
                                    </span>
                                    </p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>