<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card mb-12">
                <div class="row no-gutters">
                        <div class="col-md-4 bg-light">
                            <img
                                src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png"
                                class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="m-2">
                                    <h1 class="card-title">Charizard</h1>
                                    <p class="card-text">Escupe un fuego tan caliente que funde las rocas. Causa
                                        incendios forestales sin querer.</p>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                <h3>Tipo</h3>
                                                <div class="row justify-content-center">
                                                    <div class="bg-danger col-md-5 m-2 rounded">Fuego</div>
                                                    <div class="bg-info col-md-5 m-2 rounded">Volador</div> 
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <h3>Debilidad</h3>
                                                <div class="row justify-content-center">
                                                    <div class="bg-danger col-md-5 m-2 rounded">Agua</div>
                                                    <div class="bg-info col-md-5 m-2 rounded">Electrico</div> 
                                                    <div class="bg-danger col-md-5 m-2 rounded">Roca</div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col">
                                            <div class="m-3">
                                                <h5>Numero</h5>
                                                <p>006</p>

                                                <h5>Altura</h5>
                                                <p>1,7 m</p>

                                                <h5>Habilidad</h5>
                                                <p>Mar Llamas</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-3">
                                                <h5>Categoria</h5>
                                                <p>Llama</p>

                                                <h5>Peso</h5>
                                                <p>90,5 kg</p>

                                                <h5>Habilidad oculta</h5>
                                                <p>Poder solar</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>