<div class="container-fluid mt-5 ml-5">
    <div class="row d-flex justify-content-start">

        <div class="col-md-1">
            <a href="/mispokemons" type="button" class="btn-lg btn-light"><span class="bi bi-arrow-left-circle"></span></a>
        </div>
        
        <div class="col-md-10">
            <div class="card border-dark mb-3">
                <div class="row d-flex g-0">
                    <div class="col-md-4 mt-5 text-center text-muted">
                        <img src={{pokeElegido.sprite}} width="200" height="200" class="img-fluid rounded-start" />  
                    </div>
                    
                    <div class="col-md-8">
                        <div class="card-body m-2">
                                
                            <h1 class="card-title text-center mb-5"><b>{{pokeElegido.name}}</b></h1>

                            <div class="container">
                                <div class="row d-flex justify-content-start my-3">
                                    <table class="table text-center " style="max-width: 50rem;">
                                        <thead class="table-dark">
                                            
                                            <th colspan="2" scope="col-fluid justify-content-center" style="color: white; font-size: large; ">Datos del Pokemon</th>
                                            
                                        </thead>
                                        <tbody class="text-center ">
                                            
                                            <tr class="table-info">
                                                <th scope="row" style="font-size: small; font-style:italic;">
                                                    Nº Pokedex: <td><i> {{pokeElegido.id}} </i></td>
                                                </th>
                                            </tr>
                                            <tr class="table-info">
                                                <th scope="row" style="font-size: small; font-style:italic;">
                                                    Tipo: <td><i> {{pokeElegido.type}} </i></td>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

