body {
    background-image: url("/images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-attachment: fixed;
}
  