<div class="col-md-3 mt-3">
  <div class="card">
    <img class="card-img-top" src="{{this.photo}}" alt="{{this.name}}"/>
    <div class="card-body">
      <h5 class="card-title">
        {{this.name}} 
      </h5>
    	<div class="container-fluid"> 
    		<div class="align-items-center">
    			<div class="col text-center">
    				<button class="btn btn-success regular-button">Añadir</button>
    			</div>	
    		</div> 
    	</div>    
    </div>
  </div>
</div>