<div class="col-md-4 mt-3">
  <div class="card">
    <img class="card-img-top" src="{{this.photo}}" alt="{{this.name}}"/>
    <div class="card-body">
      <h5 class="card-title">
        {{this.name}} 
      </h5>
      <p class="card-text">
        {{this.tipo}}
      </p>
      <div>
        
          <a href="/verpokemon">
            <button type="button" class="btn btn-success">Ver</button>
          </a>
        
      
          <button type="button" class="btn btn-danger">Eliminar</button>
        
        
      </div>
      
    
    </div>
  </div>
</div>
